.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #208c71;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.window {
  background-color: #c0c0c0;
  border: 2px solid black;
}

.window-header {
  height: 30px;
  background-color: #000080;
  padding: 5px 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 24px;
}

.window-header--icon {
  background-color: #fff;
}

.window-header--text {
  flex-grow: 1;
  text-align: start;
}

.window-header--controls {
  background-color: #c0c0c0;
  border: 1px solid black;
}

.window-controls {
  display: flex;
  padding: 5px 10px;
  column-gap: 10px;
  font-size: 18px;
}

.window-linebreak {
  margin: 0px 5px;
}

.window-body {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.window-textInput {
  height: 32px;
  padding-left: 10px;
  font-size: 24px;
}

.window-btnBig {
  width: 33%;
  padding-left: 10px;
  font-size: 24px;
}

.window-btnBig:hover {
  box-shadow: inset 0px 0px 0px 1px black;
  cursor: pointer;
}