.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #208c71;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.window {
  background-color: #c0c0c0;
  border: 2px solid black;
}

.window-header {
  height: 30px;
  background-color: #000080;
  padding: 5px 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 24px;
}

.window-header--icon {
  background-color: #fff;
}

.window-header--text {
  flex-grow: 1;
  text-align: start;
}

.window-header--controls {
  background-color: #c0c0c0;
  border: 1px solid black;
  cursor: pointer;
}

.window-controls {
  display: flex;
  padding: 5px 10px;
  column-gap: 10px;
  font-size: 18px;
}

.window-linebreak {
  margin: 0px 5px;
}

.window-body {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.window-textInput {
  height: 32px;
  padding-left: 10px;
  font-size: 24px;
}

.window-btnBig {
  width: 33%;
  padding-left: 10px;
  font-size: 24px;
}

.window-btnBig:hover {
  cursor: pointer;
}

.chat-output {
  display: flex;
  column-gap: 25px;
  line-height: 1.5;
}

.users {
  
}

.users-heading {
  margin: 0px 0px 10px 0px;
  text-align: start;
}

.users-list {
  width: 200px;
  height: 350px;
  padding: 15px 10px;
  background-color: white;  
  border: 1px solid black;
  overflow: hidden;
  overflow-y: auto;
  text-align: left;
}

.chat-user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat-inner {
  flex-grow: 1;
}

.messages-header {
  margin: 0px 0px 10px 0px;
  text-align: start;
}

.messages-window {
  width: 600px;
  height: 300px;
  padding: 15px;
  background-color: white;  
  border: 1px solid black;
  text-align: start;
  overflow: hidden;
  overflow-y: auto;
}

.chat-message {

}

.chat-outer {
  padding: 5px 0 ;
}

.chat-userTyping {
  text-align: left;
}

.chat-input {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
}

.chat-inputText {
  flex-grow: 1;
  padding: 0 15px;
}

.chat-inputBtn {
  width: 20%;
  font-size: 24px;
  cursor: pointer;
}